    header h1
	{			                                       
        border-radius: 10%;

								background:   #DFE2DB;
        
	}
	.content-left {
        flex:1;
        order:1;
        min-width: 15%;						        
								
								background: #DFE2DB;
                                
    }	
    .content-right {
        flex:1.5;
        order:3;
    }
    .content-main {
        flex: 4;
        order:2;   
        min-width: 65%;
    }    
    
    footer 
       {      

								color: #000;        
								background: #DFE2DB;
    }															
    